---
const { id } = Astro.params;

const sanitizedId = id.replace(/%20| /g, "-");
if (sanitizedId !== id) {
  return Astro.redirect(`/${sanitizedId}`);
}

export const prerender = false;

const isAstro = id === "astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class:list={[{ astro: isAstro }]}>
    <h1>Du skrev {id}</h1>
    {id === "astro" && <p>Render markup conditionally</p>}
  </body>
</html>

<style>
  html {
    font-family: system-ui;
  }
  .astro {
    background: rgb(170, 230, 170);
  }
</style>
