---
import List from "../../components/List.astro";

const pages = await fetch(
  "https://kea-alt-del.dk/t7/api/products?limit=100"
).then((res) => res.json());
---

<h1>Products (static)</h1>

<List {pages} subpage="static" />
